<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Labore minima 
            consectetur illum possimus ipsa reiciendis
             nihil soluta sequi tempore culpa officia
              in quia debitis illo voluptatum, eius eaque
               aut error. Sequi, odit adipisci! Laudantium
                odio voluptatum veritatis sint consequatur blanditiis!</p>
    </div>
</div>