<div class="bg-secondary bg-opacity-70 rounded p-4 mt-4 mb-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Aliquam eaque nostrum sed voluptatum, expedita dolore. 
        Laborum eos impedit sunt consequatur eaque totam maxime, 
        magni iste, quidem, rem non quibusdam obcaecati!</p>
</div>